body {
    background:black;
    text-align:center;
    font-family:monospace;
}
body, a {
    color:white;
}
.assets {
    visibility:hidden;/*display:none breaks opera, contents don't load*/
    position:absolute;top:0px;left:0px;
}
.grid-background, .grid {
    position:absolute;
}
.grid-background {
    background:#888;
    background: -webkit-gradient(linear, left top, right bottom, from(#ddd), to(#888));
    background: -moz-linear-gradient(left, #ddd, #888);
    border-radius:6px;
}
#content {
    position:fixed;top:50%;left:50%;
    width:800px;height:640px;
    margin-left:-400px;margin-top:-320px;
}
#intro, #paused, #gameover, #stageclear {
    z-index:2;
}
#stageclear, #extinct {
    float:right;
}
.block {
    border:1px solid black;
    border-radius:6px;
}
.block, .cursor {
    position:absolute;
}
.block-0 {
    background: red;
    background: -webkit-gradient(linear, left top, right bottom, from(red), to(darkred));
    background: -moz-linear-gradient(left, red,darkred);
}
.extinct-0 {
    color:red;
}
.block-1 {
    background: blue;
    background: -webkit-gradient(linear, left top, right bottom, from(blue), to(darkblue));
    background: -moz-linear-gradient(left, blue,darkblue);
}
.extinct-1 {
    color:blue;
}
.block-2 {
    background: lightgreen;
    background: -webkit-gradient(linear, left top, right bottom, from(lightgreen), to(green));
    background: -moz-linear-gradient(left, lightgreen, green);
}
.extinct-2 {
    color:lightgreen;
}
.block-3 {
    background: yellow;
    background: -webkit-gradient(linear, left top, right bottom, from(yellow), to(orange));
    background: -moz-linear-gradient(left, yellow,orange);
}
.extinct-3 {
    color:yellow;
}
.block-4 {
    background: violet;
    background: -webkit-gradient(linear, left top, right bottom, from(violet), to(purple));
    background: -moz-linear-gradient(left, violet, purple);
}
.extinct-4 {
    color:violet;
}
.block-5 {
    background: lightblue;
    background: -webkit-gradient(linear, left top, right bottom, from(lightblue), to(cyan));
    background: -moz-linear-gradient(left, lightblue, cyan);
}
.extinct-5 {
    color:lightblue;
}
.cursor {
    border:4px solid white;
    border-radius:6px;
    margin:-4px;
    z-index:1;
}
